@import url("https://fonts.googleapis.com/css?family=Raleway");


::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    
    background: linear-gradient(45deg, #ffffff, #0b6178, #c5c5c5,#0b6178);
    background-size: 400% 400%;
    animation: gradientAnimation 24s ease infinite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes gradientAnimation {
    0%, 100% {
        background-position: 0% 50%;
        
    }
    
    70% {
        background-position: 100% 0;
    }
}

.botao-play {
    border: solid 1px rgb(36, 36, 36);
    color: black;
      transition: .5s;
      z-index: 99;
      border: none;
      background-color: transparent;
      font-size: x-large;
      cursor: pointer;
      position: absolute;
      bottom: 2em;
      left: 1em;
        
  
  }
  
  
 
  .fa-play, .fa-pause {
    position: fixed;
   
  }

.intro {
    z-index: 100;
    justify-content: center;
    transition: 5s;    
    display: flex;
    flex-direction: column  ;
    z-index: 99;
    position: absolute;
    background-color: black;
    height: 100vh;
    width: 100%;
}

.content {
    
    height: 2000px;

}

.timeline {
    transition: .5s;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    bottom: 0;
}

table {
 
    padding-top: 3em;
    padding-bottom: 3em;
    height: 100%;
    margin: 0 auto;
    
  }

  @keyframes wavy {
    0% {
        transform: translateY(0) translateX(0);
    }
    30% {
        transform: translateY(-.5em) translateX(-2em);     
        color: #ffff;
    }
    35% {
        color: #0b6178;
    }    
    40% {
        color: white;
    }
    70% {
        transform: translateY(.5em) translateX(2em);
        
    }
    100% {
        transform: translateY(0) translateX(0);
        
    }
}




.moment-emoji {
    border:  solid 1px white; 
    backdrop-filter: blur(15px);
    background-color: #0b60784e;
    animation: wavy 10s infinite linear;
    padding-left: .5em;
    color: white;
    border-radius: 8px;
    max-height: 2em;
    text-align: center;
    justify-content: ce nter;
    display: flex;
    transition: .3s;
    align-items: center;
    cursor: pointer;
}

.moment-emoji:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.336);
    transform: scale(110%);
    
}

.moment-emoji:hover .emoji {
    transform: scale(130%) translateX(5px);
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.746));

}

.month {
    font-size: 1em;
    width: 6em;
   
}

.emoji {
  transform: translateX(.5em);
    cursor: pointer;
    max-width: 3em;
    transition: .5s;

}

.moment-emoji:active  {
    transform:  scale(90%);
    opacity: .7;
}


.date {
    font-size: smaller;
    margin-top: .5em;
    transition: .4s;
    transform: translate(0,2em);
}

.text-right {
    -webkit-text-stroke:.2px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.336);
    transition: .5s;
    font-size: large;
    animation-delay: 0.8s;
    border-radius: 8px;
    padding: 1em;
    background-color: #0b60784e;  
    position: fixed;
    width: 20em;
    text-align: justify;
    right: 5em;
    top: 50%;
    opacity: 0;
    color: #fff;
  }
  
  .text-left {
    -webkit-text-stroke: .2px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.336);
    transition: .5s;
    font-size: large;
    animation-delay: 0.8s;
    border-radius: 8px;
    padding: 1em;
    background-color: #0b60784e;
    position: fixed;
    width: 20em;
    text-align: justify;
    left: 5em;
    top: 50%;
    opacity: 0;
    color: #fff;
  }

  .moment-photo {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.305);
    visibility: hidden;
    opacity: 0;
    transition: .5s;    
    position: fixed;
    background-color: #0b60784e;
    width: fit-content;
    border-radius: 8px;
    color: white;
    transform: translate(50%,-10%);
    right: 50%;
    
    padding: 1em;
    bottom: 0;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: x-large;
    margin-top: 0;
}

.photo {
    
    border-radius: 8px;
    height: 75vh;
   
}

.caption {
    max-width: 40em;
}

.moment-photo i {
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;
    color: white;
    transition: .5s;
    margin-top: 0;
}

.moment-photo i:hover {
    color: red;
}
